@font-face {
    font-family: Raleway;
    src: url(./Raleway/Raleway-VariableFont_wght.ttf);   
}

body {
    font-family: Raleway;
}

/* DESKTOP */

.container {
    margin: 0 auto;
    max-width: 1280px;
}

        /* header */

header {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.logo {
    display: flex;
    width: 900px;
    flex: 1;
    margin-left: 10px;
}

header .logo  a img {
    width: 97px;
    height: 45px;
}


#buttons {
    display: flex;
    font-size: 13px;
    justify-content: space-around;
}

header nav ul li {
    list-style: none;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

header nav ul a:hover {
    border-top: 2px rgb(0, 101, 252) solid;
    padding-top: 30px;
    color: rgb(0, 101, 252);
    font-weight: bold;
}

nav {
    width: 300px;
}

.subscribe {
    display: flex;
    font-size: 13px;
    color: rgb(0, 101, 252);
    font-weight: bold;
    width: 120px;
    justify-content: center;
    margin-left: 25px;
}

.subscribe:hover {
    font-size: 16px;
    cursor: pointer;
}


        /* title */  

.title {
    margin: 15px;
}

.fat {
    font-weight: bold;
}

.light {
    font-size: 12px;
}

        /* search */

.search {
    margin: 15px;
    display: flex;
    align-items: flex-start;
}

.fa-map-marker-alt {
    border: 2px #F2F2F2 solid;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    background-color: #F2F2F2;
}

#site-search {
    border: 2px #F2F2F2 solid;
    padding: 10px;
    width: 220px;
    font-weight: bold;
}

#searchbutton {
    background-color: rgb(0, 101, 252);
    color: white;
    border: 0;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    font-family: Raleway;
    font-weight: bold;
    height: 39.2px;
}

#mobilesearch {
    display: none;
}

#searchbutton:hover {
    cursor: pointer;
}

        /* filter */

.filter {    
    margin: 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 750px;
}

.filtertitle {
    font-weight: bold;
    font-size: 14px;
}

.icontitle {
    font-size: 14px;
    font-weight: bold;
    border: 2px #F2F2F2 solid;
    border-left: 0px;
    padding-right: 10px;
    border-radius: 30px;
    padding: 8px 24px 8px 0px;
}

.filter i {
    padding: 11px;
    border-radius: 30px;
    border-right: 2px #F2F2F2 solid;
    margin-right: 9px;
    color: rgb(0, 101, 252);
    background-color: #DEEBFF;
}

#captionfilter {
    font-size: 13px;
    margin: 25px;
    display: flex;
    align-items: center;
}

.info-container {
    border: 2px #F2F2F2 solid;
    border-radius: 25px;
    padding-left: 4px;
    height: 17px;
    width: 13px;
    margin-right: 5px;
}


.fa-info {
    color: rgb(0, 101, 252);
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}

        /* results */

#results {
    height: 485px;
    margin: 15px;
    display: flex;
}

.house {
    width: 70%;
    margin: 5px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.housecaphigh {
    font-weight: bolder;
    margin-left: 33px;
    display: inline-block;
    margin-top: 15px;
}

.hotelsquares {
    display: flex;
    height: 360px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.framesample {
    margin-right: auto;
    margin-left: 29px;
    width: 230px;
    box-shadow: 2px 2px 2px rgb(215 218 224);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hotelsquares img {
    height: 110px;
    width: 220px;
    border: 5px white solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.descriptioncap {
    font-size: 12px;
    border: 6px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -9px;
    background-color: white;
}

.hotelsquares span {
    margin-left: 8px;
}

.figtitle {
    font-weight: bold;
    font-size: 13px;
}

.housecaplow {
    font-weight: bold;
    display: inline-flex;
    margin-top: 27px;
    margin-left: 33px;
}

.popular {
    border: 2px blue solid;
    width: 30%;
    margin: 5px;
}

.popularhotels {
    display: flex;
}

.popularhotel {
    border: 2px chartreuse solid;
}


        /* activities */

#activities {
    border: 2px rgb(255, 123, 0) solid;
    height: 420px;
    margin: 15px;
}

footer {
    border: 2px red solid;
    height: 90px;
}


/* MOBILE */

@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {

    .container{
        margin: 0 auto;
        max-width: 1280px;
    }

        /* header */

    header {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav {
        order: 2;
        width: 100%;
    }

    header nav li {
        border-bottom: 3px #F2F2F2 solid;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    header nav li:hover {
        border-top: none;
        border-bottom: rgb(0, 101, 252) solid;
        color: rgb(0, 101, 252);
    }

    header nav ul a:hover {
        border-top: none;
    }    

    .subscribe {
        display: flex;
    }

    #buttons {
        font-size: 12px;
        padding: 0;
        margin-top: 5px;
    }
  

        /* title */    

    .title {
        margin: 15px;
    }

        /* search */

    .search {
        margin: 15px;
    }

    #mobilesearch{
        background-color: rgb(0, 101, 252);
        border: none;
        color: white;
        width: 41px;
        height: 41px;
        border-radius: 14px;
        display: revert;
        margin-left: -9px;
    }

    .icontitle {
        font-size: 11px;
        font-weight: bold;
        border: 2px #F2F2F2 solid;
        border-left: 0px;
        padding-right: 10px;
        border-radius: 30px;
        padding: 8px 24px 8px 0px;
    }

    #searchbutton {
        display: none;
    }

        /* filter*/

    .filter {    
        border: 2px yellow dotted;
        height: 135px;
        width: 295px;
        margin: 15px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #results {
        border: 2px rgb(255, 123, 0) dotted;
        height: 700px;
        margin: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .popular {
        border: 2px blue dotted;
        height: 300px;
        width: auto;
        margin: 25px;
        order: 1;
    }

    .house {
        border: 2px blue dotted;
        height: 300px;
        width: auto;
        margin: 25px;
        order: 2;
    }
    
    #activities {
        border: 2px rgb(255, 123, 0) dotted;
        height: 90px;
        margin: 15px;
    }
    
    footer {
        border: 2px red dotted;
        height: 90px;
    }
    
}

/* TABLETTE */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
    @font-face {
        font-family: Raleway;
        src: url(./Raleway/Raleway-VariableFont_wght.ttf);   
    }

    header {
        border: 2px red dotted;
        width: auto;
        margin: 15px;        
        display: flex;
        flex-wrap: wrap;
    }
    
    #buttons {
        list-style: none;
        display: flex;
        font-size: 13px;
        text-align: right;
   }
   
   .button1 {
       margin-right: 50px;
       padding: 20px;
   }
   
   .button1:hover {
       border-bottom: rgb(0, 101, 252) solid;
   }
   
   .button2 {
       padding: 20px;
   }
   
   .button2:hover {
       border-bottom: rgb(0, 101, 252) solid;
   }
   
   .button3 {
        color: rgb(0, 101, 252);
        font-weight: bold;
        margin-left: 50px;
        padding: 20px;
   }

    .title {
        border: 2px green dotted;
        margin: 15px;
    }
    
    .search {
        border: 2px blue dotted;
        margin: 15px;
    }
    
    .filter {    
        border: 2px yellow dotted;
        height: 90px;
        margin: 15px;
    }
    
    #results {
        border: 2px rgb(255, 123, 0) dotted;
        height: 700px;
        margin: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .popular {
        border: 2px blue dotted;
        height: 300px;
        width: auto;
        margin: 25px;
        order: 1;
    }

    .house {
        border: 2px blue dotted;
        height: 300px;
        width: auto;
        margin: 25px;
        order: 2;
    }
    
    #activities {
        border: 2px rgb(255, 123, 0) dotted;
        height: 90px;
        margin: 15px;
    }
    
    footer {
        border: 2px red dotted;
        height: 90px;
    }
}