@font-face {
    font-family: Raleway;
    src: url(./Raleway/Raleway-VariableFont_wght.ttf);   
}

body {
    font-family: Raleway;
    margin: 0;
}

/* DESKTOP */

.container {
    margin: 0 auto;
    max-width: 1280px;
}


        /* header */

header {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.logo {
    display: flex;
    width: 900px;
    flex: 1;
    margin-left: 10px;
}

header .logo  a img {
    width: 97px;
    height: 45px;
}

#buttons {
    display: flex;
    font-size: 13px;
    justify-content: space-around;
}

header nav ul li {
    list-style: none;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

header nav ul a:hover {
    border-top: 2px rgb(0, 101, 252) solid;
    padding-top: 30px;
    color: rgb(0, 101, 252);
    font-weight: bold;
}

nav {
    width: 300px;
}

.subscribe {
    display: flex;
    font-size: 13px;
    color: rgb(0, 101, 252);
    font-weight: bold;
    width: 120px;
    justify-content: center;
    margin-left: 25px;
}

.subscribe:hover {
    font-size: 16px;
    cursor: pointer;
}


        /* title */  

.title {
    margin: 25px 25px 25px 15px;
}

.fat {
    font-weight: bolder;
    margin-bottom: 6px;
    font-size: 19px;
}

.light {
    font-size: 14px;
}


        /* search */

.search {
    margin: 15px;
    display: flex;
    align-items: flex-start;
}

.inbutt {
    display: flex;
}

.fa-map-marker-alt {
    border: 2px #F2F2F2 solid;
    border-radius: 10px 0 0 10px;
    padding: 13px;
    background-color: #F2F2F2;
    height: 15px;
}

#site-search {
    border: 1px #F2F2F2 solid;
    padding: 10px;
    width: 220px;
    font-weight: bold;
    font-size: 14px;
}

#searchbutton {
    background-color: rgb(0, 101, 252);
    color: white;
    border: 0;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    font-family: Raleway;
    font-weight: bold;
    height: 45.2px;
}

#searchbutton i {
    display: none;
}

#searchbutton:hover {
    cursor: pointer;
}


        /* filter */

.filter {    
    margin: 30px 15px 15px 19px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.mobilefilter {
    display: none;
}

.filtertitle {
    font-weight: bolder;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
}

#eco:hover, #child:hover, #heart:hover, #dog:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#eco, #child, #heart, #dog {
    margin-right: 20px;
}

.icontitle {
    font-size: 15px;
    font-weight: bolder;
    border: 2px #F2F2F2 solid;
    border-left: 0px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.filter i {
    padding: 12px;
    border-radius: 30px;
    margin-right: 9px;
    color: rgb(0, 101, 252);
    background-color: #DEEBFF;
}

#captionfilter {
    font-size: 13px;
    margin: 25px 25px 25px 15px;
    display: flex;
    align-items: center;
    font-weight: 300;
    margin-left: 18px;
}

.info-container {
    border: 2px #F2F2F2 solid;
    border-radius: 25px;
    padding-left: 4px;
    height: 17px;
    width: 13px;
    margin-right: 10px;
}


.fa-info {
    color: rgb(0, 101, 252);
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}


        /* results */

#results {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.house {
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 45px;
}

.housecaphigh {
    font-weight: bolder;
    margin-left: 36px;
    display: inline-block;
    margin-top: 26px;
}


.hotelsquares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 22px;
    margin-right: 40px;
}

.hotelsquares a, .pophotelsquares a, .actframeonly a {
    list-style: none;
    text-decoration: none;
    color: unset;
}

.framesample {
    margin-right: auto;
    margin-left: 21px;
    width: 230px;
    box-shadow: 2px 2px 2px rgb(215 218 224);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.hotelsquares img {
    height: 110px;
    width: 219px;
    border: 5px white solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.descriptioncap {
    font-size: 12px;
    border: 6px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}

.descriptioncap .stars {
    font-size: 12px;
    display: inline-flex;
}

.hotelsquares span {
    margin-left: 8px;
}

.figtitle {
    font-weight: bold;
    font-size: 13px;
}

.housecaplow {
    font-weight: bold;
    display: inline-flex;
    margin-top: 12px;
    margin-bottom: 32px;
    margin-left: 38px;
    font-size: 14px;
}


    /* Popular */

.popular {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.poptitle {
    display: inline-block;
    margin-left: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.popcaphigh {
    font-weight: bold;
}

.poptitle i {
    margin-left: 135px;
    font-size: 18px;
}

.popfigtitle {
    font-size: 14px;
    font-weight: bold;
}

.popnight {
    font-size: 12px;
}

.poptextonly {
    margin-top: 10px;
    margin-left: 13px;
}

.popdescriptioncap .stars {
    font-size: 12px;
    display: inline-flex;
    margin-top: 37px;
    margin-left: 13px;
}

.popframesample {
    width: 300px;
    box-shadow: 2px 2px 2px rgb(215 218 224);
    border-radius: 20px;
    background-color: white;
    display: flex;  
    margin-bottom: 25px;
}

.pophotelsquares {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pophotelsquares img {
    height: 117px;
    width: 125px;
    border: 5px white solid;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
}


        /* activities */

#activities {
    margin-bottom: 50px;
    margin-top: 35px;
}

.titleact {
    display: block;
    margin-top: 17px;
    margin-left: 24px;
    font-weight: bold;
}

.actonepic img {
    height: 351px;
    width: 285px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.actonepic {
    margin-left: 20px;
}

.acttwopic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actpom {
    height: 175px;
    width: 275px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.actfri {
    height: 100px;
    width: 275px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.actga {
    height: 120px;
    width: 275px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.actlong {
    height: 150px;
    width: 275px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.actdescriptioncap {
    border: 2px white solid;
    padding: 11px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 3px 3px rgb(215 218 224);
    font-weight: bold;
    font-size: 13px;
}

.actframeonly {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}


        /* footer */

footer {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
}

.footelement1 {
    width: 100%;
    margin-left: 107px;
}

.footelement2 {
    width: 100%;
}

.footelement3 {
    width: 100%;
    margin-right: 105px;
}


.footelement1 ul, .footelement2 ul, .footelement3 ul {
    list-style: none;
    line-height: 30px;
}

.footelement1 a, .footelement2 a, .footelement3 a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.footelement1 h3, .footelement2 h3, .footelement3 h3 {
    font-size: 15px;
}

/* MOBILE */

@media only screen and (min-width : 50px) and (max-width : 667px) {

    .container {
        max-width: 375px;
    }
    

        /* header */

    header {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2px;
    }

    nav {
        order: 2;
        width: 100%;
        margin-top: 5px;
    }

    header nav li {
        border-bottom: 3px #F2F2F2 solid;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    header nav li:hover {
        border-top: none;
        border-bottom: rgb(0, 101, 252) solid;
        color: rgb(0, 101, 252);
    }

    header nav ul a:hover {
        border-top: none;
    }    

    .subscribe {
        display: flex;
    }

    #buttons {
        font-size: 14px;
        padding: 0;
        margin-top: 5px;
    }
  
    .logo {
        display: flex;
        width: 900px;
        flex: 1;
        margin-left: 20px;
    }


        /* title */    

    .title {
        margin: 15px;
    }

    .fat {
        font-weight: bold;
        margin-left: 20px;
        margin-bottom: 9px;
        font-size: 19px;
    }

    .light {
        font-size: 14px;
        margin-left: 21px;
    }


        /* search */

    .search {
        margin: auto;
        width: 302px;
        display: flex;
        margin-left: 33px;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .inbutt {
        border: 1px #F2F2F2 solid;
        display: flex;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: auto;
        height: 43px;
    }

    #site-search {
        border: none;
        padding: 10px;
        font-weight: bolder;
        font-size: 15px;
    }

    #searchbutton {
        background-color: rgb(0, 101, 252);
        color: white;
        border: 0;
        border-radius: 10px;
        width: 41px;
        font-weight: bold;
        height: 43px;
    }

    #search-desktop {
        display: none;
    }

    #searchbutton i {
        display: block;
    }


        /* filter*/

    .filter {
        margin: 15px 0px 15px 22px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filtertitle {
        font-weight: bold;
        font-size: 15px;
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 16px;
        margin-left: 11px;
        width: unset;
        justify-content: initial;
    }

    #eco, #heart  {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .icontitle {
        font-size: 14px;
        font-weight: bolder;
        border: 2px #F2F2F2 solid;
        border-left: 0px;
        border-radius: 30px;
        padding-right: 29px;     
    }

    .filter i {
        padding: 11px;
        border-radius: 30px;
        border-right: 2px #F2F2F2 solid;
        margin-right: 9px;
        color: rgb(0, 101, 252);
        background-color: #DEEBFF;
    }

    .fa-info {
        color: rgb(0, 101, 252);
        padding: 3px;
        margin-right: 10px;
        font-weight: bold;
        font-size: 15px;
    }

    #captionfilter {
        font-size: 14px;
        margin: 25px 25px 25px 35px;
        display: flex;
        align-items: baseline;
    }


        /* results */    
    
    #results {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-bottom: 20px;
    }

                /* popular */
    
    .popular {
        border: none;
        height: auto;
        width: 100%;
        order: 1;
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        align-items: center;
        margin-bottom: 10px;
        border-radius: initial;
    }

    .poptitle {
        display: block;
        margin-top: 25px;
        margin-left: unset;
        margin-bottom: 15px;
    }

    .poptitle i {
        margin-left: 157px;
    }

    .popcaphigh {
        font-weight: bold;
        font-size: 18px;
        margin-left: 2px;
    }

    .popfigtitle {
        font-weight: bold;
        font-size: 14px;
        padding-right: 4px;
    }

    .popnight {
        font-size: 14px;
        display: inline-block;
        margin-top: 9px;
    }
  
    .popdescriptioncap .stars {
        font-size: 12px;
        display: inline-flex;
        margin-top: 4px;
        margin-left: initial;
    }

    .popframesample {
        height: 145px;
        width: 340px;
        box-shadow: 2px 2px 2px rgb(215 218 224);
        border-radius: 20px;
        background-color: white;
        display: flex;
    }

    .pophotelsquares {
        margin-bottom: 15px;
    }
    
    .pophotelsquares img {
        height: 135px;
        width: 121px;
        border: 5px white solid;
        border-bottom-left-radius: 20px;
        margin-right: 12px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        object-fit: cover;
    }

    .poptextonly {
        margin-bottom: 33px;
        padding-right: 41px;
        margin-left: initial;
        margin-top: initial;
    }

    .popdescriptioncap {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
    }

                /* house */

    .house {
        height: auto;
        width: auto;
        order: 2;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
    }

    .housecaphigh {
        font-weight: bolder;
        display: inline-block;
        margin-left: revert;
        margin-top: 15px;
        margin-right: 117px;
        font-size: 18px;
    }

    .hotelsquares {
        display: flex;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
    }

    .framesample {
        width: 340px;
        box-shadow: 2px 2px 2px rgb(215 218 224);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-right: revert;
        margin-left: revert;
        margin-bottom: 10px;
    }

    .descriptioncap {
        font-size: 12px;
        border: 6px white solid;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: white;
        height: 54px;
    }

    .figtitle {
        font-size: 14px;
    }

    .hotelsquares span {
        margin-left: 11px;
        display: inline-block;
        margin-bottom: 5px;
    }

    .hotelsquares img {
        height: 116px;
        width: 335px;
        border: 5px white solid;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    
    .housecaplow {
        font-weight: bold;
        align-self: flex-start;
        margin-left: 25px;
        margin-top: 19px;
        font-size: 14px;
        margin-bottom: 0px;
    }


        /* activities */

    #activities {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        border: none;
        margin-bottom: 0;
        margin-top: 30px;
    }

    .titleact {
        font-weight: bold;
        font-size: 18px;
        align-self: baseline;
        margin-left: 25px;
    }

    .frameact {
        width: 300px;
        box-shadow: 2px 2px 2px rgb(215 218 224);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .frameact img {
        height: 119px;
        width: 295px;
        border: 5px white solid;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    
    .actdescriptioncap {
        height: 18px;
        font-weight: bold;
        font-size: 13px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .actframeonly {
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .actonepic img {
        height: 116px;
        width: 340px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    
    .singletwopic {
        margin-bottom: 20px;
    }

    .actonepic {
        margin-left: 0;
        margin-bottom: 20px;
        width: 340px;
    }
    
    .acttwopic {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 340px;
    }
    
    .acttwopic img {
        height: 116px;
        width: 340px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }


        /* footer */

    footer {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        width: 375px;
        margin: auto;
    }

    .footelement1 {
        margin-left: unset;
        margin-top: 15px;
    }

    .footelement1 ul, .footelement2 ul, .footelement3 ul {
        list-style: none;
        line-height: 30px;
        padding-inline-start: 27px;
    }

    .footelement1 h3, .footelement2 h3, .footelement3 h3 {
        font-size: 17px;
        font-weight: bold;
    }

    .footelement1 a, .footelement2 a, .footelement3 a {
        font-size: 14px;
    }

}

/* TABLETTE */

@media only screen and (min-width : 667px) and (max-width : 1200px)
{
    @font-face {
        font-family: Raleway;
        src: url(./Raleway/Raleway-VariableFont_wght.ttf);   
    }

    .container {
        max-width: 1024px;
    }

                /* header */

    header {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: 5px;
    }

    .logo {
        display: flex;
        width: 900px;
        flex: 1;
        margin-left: 10px;
    }

    header .logo  a img {
        width: 97px;
        height: 45px;
    }

    #buttons {
        display: flex;
        font-size: 13px;
        justify-content: space-around;
    }

    header nav ul li {
        list-style: none;
        text-decoration: none;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
    }

    header nav ul li a {
        color: black;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    header nav ul a:hover {
        border-top: 2px rgb(0, 101, 252) solid;
        padding-top: 30px;
        color: rgb(0, 101, 252);
        font-weight: bold;
    }

    nav {
        width: 300px;
    }

    .subscribe {
        display: flex;
        font-size: 13px;
        color: rgb(0, 101, 252);
        font-weight: bold;
        width: 120px;
        justify-content: center;
        margin-left: 25px;
    }

    .subscribe:hover {
        font-size: 16px;
        cursor: pointer;
    }
        
     #buttons {
        list-style: none;
        display: flex;
        font-size: 13px;
        text-align: right;
    }
    
    .button1 {
        margin-right: 50px;
        padding: 20px;
    }
    
    .button1:hover {
        border-bottom: rgb(0, 101, 252) solid;
    }
    
    .button2 {
        padding: 20px;
    }
    
    .button2:hover {
        border-bottom: rgb(0, 101, 252) solid;
    }
    
    .button3 {
        color: rgb(0, 101, 252);
        font-weight: bold;
        margin-left: 50px;
        padding: 20px;
    }


            /* title */

    .title {
        margin: 15px;
    }


            /* search */
    
    .search {
        margin: 15px;
    }


            /* filter */
    
    .filter {
        margin: 15px 15px 5px 19px;
        align-items: baseline;
    }

    #eco, #child, #heart, #dog {
        margin-right: 8px;
        margin-bottom: 15px;
    }

    .icons {
        width: auto;
    }

    #captionfilter {
        margin: 0px 0px 0px 18px;
    }


            /* results */    

    #results {
        margin: 15px;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
                        /* popular */

    .popular {
        width: 100%;
        order: 1;
    }

    .poptitle {
        display: inline-block;
        margin-left: 38px;
        margin-top: 32px;
        margin-bottom: 10px;
    }

    .pophotelsquares {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 33px;
    }

    .popframesample {
        width: 300px;
        box-shadow: 2px 2px 2px rgb(215 218 224);
        border-radius: 20px;
        background-color: white;
        display: flex;
        height: 130px;
        margin-right: 50px;
    }

                        /* House */

    .house {
        height: auto;
        width: 100%;
        margin: 25px;
        order: 2;
    }


        /* Activities */

    #activities {
        height: auto;
        margin: 0px 20px 30px 20px;
    }

    .actonepic {
        margin-left: auto;
    }

    .actonepic img {
        height: 290px;
        width: 164px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

    .acttwopic img {
        height: 117px;
        width: 160px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

    .actdescriptioncap {
        border: 2px white solid;
        padding: 4px;
        background-color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 2px 3px 3px rgb(215 218 224);
        font-weight: bold;
        font-size: 10px;
        height: 18px;
        padding-left: 8px;
    }

        /* Footer */
    
    footer {
        height: auto;
        width: auto;
    }

    .footelement1 {
        margin-left: unset;
    }

}